.heading{
    background-color:#f5f5f5;
    border-radius: 3px;
    width:500px;
}

.big_image {
    width: 100%;
}




#status {
    height:35px;
    width:100px;
    font-size: 22px;
    margin:5px;
}

h4 {
    background-color: #f5f5f5;
    line-height: 2;
    margin: 0px;
}

.modal-dialog {
    width: 98%;
}

.instruction_image {
    display: inline-block;
    width: 45%;
}

#bottom {
    position: fixed;
    color: #6c757d;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center;
    z-index: 3;
    margin-top:30px;
    opacity: 50%;
}

button{
    height: 35px;
    width:100px;
    font-size:13px;
}

canvas{
    border-radius: 3px;
    border-color: black;
    border: solid 5px grey;
    z-index: 0;
}